@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Style untuk Popup Leaflet agar cantik */
.request-popup .leaflet-popup-content-wrapper {
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
}
.request-popup .leaflet-popup-content {
  margin: 0;
}